@mixin for-size($range) {
  // Breakpoints
  $desktop-l-width: 1440px;
  $tablet-l-width: 1024px;
  $tablet-s-width: 768px;
  $mob-l-width: 640px;
  $mob-m-width: 425px;
  $mob-s-width: 375px;

  @if $range == phone-sm {
    @media (max-width: $mob-s-width) {
      @content;
    }
  } @else if $range == phone-md {
    @media (max-width: $mob-m-width) {
      @content;
    }
  } @else if $range == phone-lg {
    @media (max-width: $mob-l-width) {
      @content;
    }
  } @else if $range == tablet-sm {
    @media (max-width: $tablet-s-width) {
      @content;
    }
  } @else if $range == tablet-lg {
    @media (max-width: $tablet-l-width) {
      @content;
    }
  } @else if $range == desktop-lg {
    @media (max-width: $desktop-l-width) {
      @content;
    }
  }
}

// Colors
$color-primary: #05d5ff;
$color-secondary: #a6ffcb;
$color-tertiary: #53f;
$color-white: #fff;
$color-blue-dark: #263859;
$color-red: #e41749;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include for-size(tablet-lg) {
    font-size: 52%;
  }

  @include for-size(tablet-sm) {
    font-size: 48%;
  }

  @include for-size(phone-lg) {
    font-size: 40%;
  }

  @include for-size(phone-md) {
    font-size: 36%;
  }

  @include for-size(phone-sm) {
    font-size: 32%;
  }
}

body {
  font-family: "Bangers";
}

.heading-primary {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--main {
    display: block;
    font-size: 13rem;
    color: $color-white;
    margin-bottom: 3rem;
    letter-spacing: 2rem;

    &::selection {
      background: none;
    }
  }

  &--sub {
    display: block;
    font-size: 2.4rem;
    color: $color-white;
    text-align: center;
    padding: 0 4rem;
  }
}

.heading-secondary {
  font-size: 7rem;
  margin-bottom: 2.5rem;
  color: $color-primary;
  color: transparent;
  letter-spacing: 5px;
  padding-right: 1rem;
  padding-left: 1rem;
  background: linear-gradient(150deg, $color-primary 50%, $color-secondary);
  // background: linear-gradient(150deg, white, black);
  -webkit-background-clip: text;
  background-clip: text;

  &::selection {
    background: none;
  }
}

.header {
  background: linear-gradient(
    150deg,
    $color-tertiary 15%,
    $color-primary 70%,
    $color-secondary 94%
  );
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  height: 95vh;
  padding: 4rem;
  position: relative;
  z-index: 10;

  @include for-size(phone-lg) {
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }

  @include for-size(phone-md) {
    clip-path: polygon(0 0, 100% 0, 100% 84vh, 0 100%);
  }

  @include for-size(phone-sm) {
    clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
  }

  &__text-box {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.button {
  background-color: $color-tertiary;
  display: inline-block;
  margin-top: 4.5rem;
  text-decoration: none;
  letter-spacing: 1px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.35s;

  &--main {
    padding: 2rem 6rem;
    color: $color-white;
    font-size: 2.2rem;

    @include for-size(phone-lg) {
      padding: 2rem 3.5rem;
    }

    &:hover {
      background-color: $color-white;
      color: $color-primary;
      box-shadow: 1px 1px 15px 10px $color-primary;
    }
  }

  &--sub {
    position: relative;

    margin-top: 1rem;
    width: 15rem;
    outline: none;
    border: none;
    // padding: 2rem 4rem;
    padding: 1.6rem 3.5rem;
    color: $color-white;
    align-self: center;
    font-family: "Bangers";
    font-size: 1.8rem;
    cursor: pointer;

    @include for-size(phone-lg) {
      padding: 1.8rem 2.5rem;
    }

    margin-bottom: 7rem;

    &:hover {
      box-shadow: 0px 0px 12px 7px $color-primary;
      background-color: $color-white;
      color: $color-primary;
    }
  }
}

.main {
  padding: 50rem 0;
  padding-top: 35rem;
  padding-bottom: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-blue-dark;

  margin-top: -25vh;

  @include for-size(phone-lg) {
    padding-top: 45rem;
  }
}

.footer {
  padding: 5rem 0;
  color: $color-white;
  font-size: 1.5rem;
  text-align: center;

  background-image: linear-gradient(
    150deg,
    lighten($color-tertiary, 8%),
    $color-tertiary
  );

  & .credits {
    font-size: 4.3rem;
  }

  & .credits__author {
    color: $color-primary;
    text-shadow: 0.1rem 0.1rem $color-primary;
  }
}

.url-shortener {
  display: flex;
  flex-direction: column;

  &__input {
    width: 60rem;
    height: 5rem;
    margin-bottom: 1rem;
    font-size: 1.9rem;
    padding: 0 1rem;

    // background-color: $color-blue-dark;
    background-color: #292a34;

    color: $color-white;

    // border: 3px solid $color-secondary;
    // border: 3px solid $color-tertiary;
    // box-shadow: 0 0 5px 3px $color-tertiary;

    // border: 1px solid $color-tertiary;

    box-shadow: 0 0 2px 1px $color-tertiary;
    box-shadow: 0 0 2px 1px $color-primary;

    border: none;
    outline: none;

    &:focus {
      box-shadow: 0 0 2px 2px $color-tertiary;
    }

    &::placeholder {
      color: darken($color-white, 38);
    }

    &::-moz-placeholder {
      color: #fff;
    }
  }

  &__button {
    display: block;
    padding: 1.5rem 2.5rem;
    align-self: center;
    outline: none;
    border: none;
    padding: 2rem 6rem;
    background-color: $color-tertiary;
    color: $color-white;
    font-size: 2rem;
    font-family: "Bangers";
  }
}

.urlList {
  width: 60rem;

  &__list {
    list-style-type: none;
    padding: 0 3rem;

    &:not(:empty) {
      box-shadow: 0 0 5px 5px $color-primary;
    }
  }

  &__item {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
    padding: 2rem 0;
  }

  &__original {
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__shortened {
    display: flex;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: $color-secondary;
  }

  &__copy {
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;

    color: $color-primary;

    &:hover::before {
      opacity: 1;
    }

    &:active::before {
      opacity: 0;
    }

    & > .icon {
      display: inline-block;
      width: 2rem;
      height: 1.7rem;
      background-color: transparent;
      margin-left: 1rem;
    }

    &::before {
      content: "Copy";
      display: inline-block;
      width: 6rem;
      height: 2rem;
      color: $color-white;
      position: absolute;
      top: 0;
      left: 140%;
      opacity: 0;
      transition: opacity 0.25s;
    }
  }

  &__remove {
    color: $color-red;
    font-size: 3.5rem;
    margin-right: 3rem;
    cursor: pointer;
    position: relative;

    &::after {
      content: "Remove";
      display: inline-block;
      font-size: 1.7rem;
      position: absolute;
      left: 70%;
      top: 50%;
      transform: translate(1rem, -50%);
      opacity: 0;
      transition: opacity 0.25s;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}
